<lib-map (viewClick)="viewClick($event)">
  <div libMapWidget position="top-right" class="widget">
    <span>view</span>
    <button (click)="myTest.view.reset()">reset view</button>
    <hr />
    <span>events</span>
    <label>
      <input type="checkbox" (change)="changeEventClasster($event)" />
      <span>classter</span>
    </label>
    <label>
      <input
        [defaultChecked]="true"
        type="checkbox"
        (change)="changeEventVisible($event)"
      />
      <span>visible</span>
    </label>
    <div>
      <input type="number" #eventsAmount />
      <button (click)="myTest.events.generate(parseInt(eventsAmount.value))">
        generate
      </button>
    </div>
    <button (click)="myTest.events.clear()">clear all events</button>
    <hr />
    <span>ellipses</span>
    <div>
      <input type="number" #ellipsesAmount />
      <button
        (click)="myTest.ellipses.generate(parseInt(ellipsesAmount.value))"
      >
        generate
      </button>
    </div>
    <button (click)="myTest.ellipses.clear()">clear all ellipses</button>
  </div>

  <div libMapWidget position="top-right" class="widget">
    <button>עגול</button>
  </div>
  <vector-tile-layer
    url="https://cdn.arcgis.com/sharing/rest/content/items/7dc6cea0b1764a1f9af2e679f642f0f5/resources/styles/root.json"
    title="my-Vector"
    [visible]="true"
  />
  <graphics-layer> </graphics-layer>
  <graphics-layer>
    @for (event of events(); track event.id) {
    <sector
      [sector]="event.riskAssessments.imminent"
      [symbol]="fillRedSymbol"
    />
    <sector
      [sector]="event.riskAssessments.immediate"
      [symbol]="fillYellowSymbol"
    />
    <sector
      [sector]="event.riskAssessments.possible"
      [symbol]="fillGreenSymbol"
    />
    }
  </graphics-layer>

  <graphics-layer>
    @for (ellipse of ellipses(); track ellipse.id) {
    <ellipse [ellipse]="ellipse" />
    }
  </graphics-layer>
  <events-layer #eventsLayer [visible]="eventVisible()">
    @for (event of events(); track event.id) {
    <event [event]="event" />
    }
  </events-layer>
  <forces-layer>
    @for (force of forces(); track force.id) {
    <force [force]="force" />
    }
  </forces-layer>
  <graphics-layer>
    <map-pin [location]="pinLoc()" />
  </graphics-layer>
</lib-map>
