lib-map {
  width: 100vw;
  height: 100vh;
  display: block;
}

.widget {
  --primary-color: rgb(55, 55, 255);
  --foreground-color: #111;
  --background-color: #eee;
  --border-radius: 5px;

  background-color: var(--background-color);
  border: 1px solid var(--foreground-color);
  color: var(--foreground-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & button {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    border-radius: var(--border-radius);
    transition: all 250ms linear;
    &:hover,
    &.active {
      color: var(--background-color);
      background-color: var(--primary-color);
    }
  }
  input {
    background-color: var(--background-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    color: var(--foreground-color);
  }
  input[type='number'] {
    width: 10ch;
  }
}
