<lib-map (viewClick)="viewClick($event)">
  <div libMapWidget position="top-right" class="widget">
    <span>view</span>
    <button (click)="myTest.view.reset()">reset view</button>
  </div>
  <div libMapWidget position="top-right" class="widget">
    <span>events</span>
    <label>
      <input type="checkbox" (change)="changeEventClasster($event)" />
      <span>classter</span>
    </label>
    <div>
      <input type="number" #eventsAmount />
      <button (click)="myTest.events.generate(parseInt(eventsAmount.value))">
        generate
      </button>
    </div>
    <button (click)="myTest.events.clear()">clear all events</button>
  </div>
  <div libMapWidget position="top-right" class="widget">
    <span>ellipses</span>
    <div>
      <input type="number" #ellipsesAmount />
      <button
        (click)="myTest.ellipses.generate(parseInt(ellipsesAmount.value))"
      >
        generate
      </button>
    </div>
    <button (click)="myTest.ellipses.clear()">clear all ellipses</button>
  </div>
  <div libMapWidget position="top-right" class="widget">
    <span>ruler</span>
    <label>
      <input #rulerActive type="checkbox" />
      <span>active</span>
    </label>
    <span>{{ ruler.length().toFixed(3) }} kilometers</span>
    <button (click)="ruler.reset()">reset</button>
  </div>

  <!-- @for (baseLayer of baseLayers(); track baseLayer.title) {
  <vector-tile-layer
    [url]="baseLayer.url"
    [title]="baseLayer.title"
    [visible]="baseLayer.visible"
  />
  } -->
  <vector-tile-layer
    url="https://cdn.arcgis.com/sharing/rest/content/items/7dc6cea0b1764a1f9af2e679f642f0f5/resources/styles/root.json"
    title="my-Vector"
    [visible]="true"
  />
  <!-- <vector-tile-layer
    url="https://basemaps.arcgis.com/arcgis/rest/services/World_Basemap_v2/VectorTileServer"
    title="fox"
    [visible]="true"
  /> -->

  <graphics-layer>
    @for (event of events(); track event.id) {
    <sector
      [sector]="event.riskAssessments.imminent"
      [symbol]="fillRedSymbol"
    />
    <sector
      [sector]="event.riskAssessments.immediate"
      [symbol]="fillYellowSymbol"
    />
    <sector
      [sector]="event.riskAssessments.possible"
      [symbol]="fillGreenSymbol"
    />
    }
  </graphics-layer>

  <graphics-layer>
    @for (ellipse of ellipses(); track ellipse.id) {
    <ellipse [ellipse]="ellipse" />
    }
  </graphics-layer>
  <events-layer #eventsLayer>
    @for (event of events(); track event.id) {
    <event [event]="event" />
    }
  </events-layer>
  <ruler #ruler />
</lib-map>
