.buttons {
  display: flex;
  flex-direction: column;
}

button.active {
  border: 2px dotted red;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  gap: 3px;
}

.create-icon {
  padding: 1px;
  width: 100%;
  height: 100%;
  & > img {
    width: 100%;
    height: 100%;
  }
}
